In [2]:
import networkx as nx 
import matplotlib.pyplot as plt 
import pandas as pd
import geopandas as gpd
import numpy as np
%matplotlib inline

In [3]:
stations = pd.read_csv('https://raw.githubusercontent.com/CUSP2021ADS/Data/main/NYCSubwayNodes.csv'); stations

                 name   id boro        lat       long    lines
0       Greenpoint Av  G26   Bk  40.731352 -73.954449        G
1               21 St  G24    Q  40.744065 -73.949724        G
2            Court Sq  G22    Q  40.746554 -73.943832        G
3               36 St  G20    Q  40.752039 -73.928781      M R
4        Queens Plaza  G21    Q  40.748973 -73.937243    E M R
..                ...  ...  ...        ...        ...      ...
493         City Hall  R24    M  40.713282 -74.006978      R W
494          Canal St  R23    M  40.719527 -74.001775      R W
495         Prince St  R22    M  40.724329 -73.997702      R W
496        8 St - NYU  R21    M  40.730328 -73.992629      R W
497  14 St - Union Sq  R20    M  40.735736 -73.990568  N Q R W

[498 rows x 6 columns]

In [4]:
connections = pd.read_csv('https://raw.githubusercontent.com/CUSP2021ADS/Data/main/NYCSubwayEdges.csv'); connections

     origin dest
0       G26  G24
1       G26  G28
2       G24  G26
3       G24  G22
4       G22  G24
...     ...  ...
1843    R20  L03
1844    R20  R19
1845    R20  Q01
1846    R20  Q01
1847    R20  R21

[1848 rows x 2 columns]

In [14]:
destinations = stations.merge(connections, left_on = 'id', right_on = 'dest') \
.loc[:,['name', 'dest', 'lat', 'long', 'lines']] \
.drop_duplicates()

destinations.head()

             name dest        lat       long  lines
0   Greenpoint Av  G26  40.731352 -73.954449      G
2           21 St  G24  40.744065 -73.949724      G
4        Court Sq  G22  40.746554 -73.943832      G
8           36 St  G20  40.752039 -73.928781    M R
10   Queens Plaza  G21  40.748973 -73.937243  E M R

In [16]:
origins = stations.merge(connections, left_on = 'id', right_on = 'origin') \
.loc[:, ['name', 'dest', 'lat', 'long', 'lines']]

(494, 5)